[DEFAULT]
[database]
connection = mysql+pymysql://glance:{{ glance_password }}@{{ controller_ip }}/glance
[keystone_authtoken]
auth_uri = http://{{ controller_ip }}:5000
auth_url = http://{{ controller_ip }}:5000
memcached_servers = {{ controller_ip }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ glance_password }}
[matchmaker_redis]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_policy]
[paste_deploy]
flavor = keystone
[profiler]
